<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="ktpl_brand" frontName="ktpl_brand">
            <module name="Ktpl_Brand" before="Magento_Backend"/>
        </route>
    </router>
</config>
