<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ktpl\Brand\Api\BrandRepositoryInterface" type="Ktpl\Brand\Model\BrandRepository" />
  
    <virtualType name="Ktpl\Brand\Model\Resource\Test\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">brand</argument>
            <argument name="resourceModel" xsi:type="string">Ktpl\Brand\Model\ResourceModel\Brand</argument>
        </arguments>
    </virtualType>
 
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ktpl_brand_grid_data_source" xsi:type="string">Ktpl\Brand\Model\Resource\Test\Grid\Collection</item>
                <!--<item name="brand_data_source" xsi:type="string">Ktpl\Brand\Model\ResourceModel\Brand\Collection</item>-->
            </argument>
        </arguments>
    </type>
    
     <virtualType name="Magento\Catalog\CategoryImageUploader" type="Ktpl\Brand\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">catalog/tmp/category1</argument>
            <argument name="basePath" xsi:type="string">catalog/category</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>

    
<type name="Ktpl\Brand\Controller\Adminhtml\Index\Image\Upload">
    <arguments>
        <argument name="imageUploader" xsi:type="object">Magento\Catalog\CategoryImageUploader</argument>
    </arguments>
</type>


<virtualType name="CustomGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
    <arguments>
        <argument name="appliers" xsi:type="array">
            <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
            <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
        </argument>
    </arguments>
</virtualType> 

<virtualType name="Ktpl\Brand\Model\DataProvi" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
    <arguments>
        <argument name="collection" xsi:type="object" shared="false">Ktpl\Brand\Model\ResourceModel\Brand\Collection</argument>
        <argument name="filterPool" xsi:type="object" shared="false">CustomGridFilterPool</argument>
    </arguments>
</virtualType>
 
 
 

<!--   
     <virtualType name="Ktpl\Brand\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="customertab" xsi:type="array">
                    <item name="class" xsi:type="string">Ktpl\Brand\Ui\DataProvider\Brand\Modifier\ProductTab</item>
                    <item name="sortOrder" xsi:type="number">200</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Ktpl\Brand\Ui\DataProvider\Brand\Modifier\ProductTab">
        <arguments>
            <argument name="scopeName" xsi:type="string">product_form.product_form</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
      <arguments>
          <argument name="collections" xsi:type="array">
              <item name="producttab_customer_listing_data_source" xsi:type="string">Magento\Catalog\Model\ResourceModel\Grid\Collection</item>
          </argument>
      </arguments>
  </type>-->
 
 
 
</config>